{%load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>text-utils</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <h1 class="text-center mt-5 text-xl"> Welcome to text utilities app</h1>
        <div class="w-6/12 h-3/4 bg-grey-50 mx-auto mt-10 text-black border-4">
            
            <form action= "/analyze" method="get">
                {% comment %} {%csrf_token %} {% endcomment %}
                <textarea name="text" placeholder="write text here" class="h-[50vh] w-[98%] mx-2 mt-3 rounded-lg ">
                    {% comment %} {{analyzed}} {% endcomment %}
                </textarea></br></br>
                <label class="text-black font-sans text-xl p-5">upper case</label><input type="checkbox" name="touppercase">    
                <label class="text-black font-sans text-xl p-5">lower case</label><input type="checkbox" name="tolowercase">
                <label class="text-black font-sans text-xl p-5">Remove Punc</label><input type="checkbox" name="removepunc">
                <label class="text-black font-sans text-xl p-5">Remove newlines</label><input type="checkbox" name="remonewlines"><br><br>
                <input type="submit" value="Analyze" class="font-black border-2 p-4 mx-auto block w-50 cursor-pointer mb-4">
            </form>
        </div>
    </body>
</html>